@font-face {
  font-family: 'poppins-light';
  src: url("../poppins/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: 'poppins-bold';
  src: url("../poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'poppins-extra-bold';
  src: url("../poppins/Poppins-ExtraBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: #fafafa;
  min-height: 100vh;
  padding-top: 85px;
  -webkit-animation: opacity 2s ease-in;
          animation: opacity 2s ease-in;
}

main {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

main h1 {
  text-align: center;
  font-weight: 200;
  font-family: 'poppins-light';
  color: #a3a5ae;
  font-size: 3rem;
}

main h1 #block-h1 {
  display: block;
  font-family: 'poppins-bold';
  font-weight: 600;
  color: black;
}

main p {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: #a3a5ae;
}

.container .box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border-top: 5px solid #45d3d3;
}

.container .box2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box2;
  border-top: 5px solid #ea5353;
}

.container .box3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: box3;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border-top: 5px solid #549ef2;
}

.container .box4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box4;
  border-top: 5px solid #fcaf4a;
}

.container {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box1 box2 box3" ". box4 .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.container .box {
  margin: 2rem 4rem;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(163, 165, 174, 0.5);
          box-shadow: 1rem 1rem 1rem rgba(163, 165, 174, 0.5);
  height: 50vh;
  position: relative;
}

.container .box img {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.container .box h4 {
  font-family: 'poppins-bold';
  font-weight: 600;
  color: black;
  font-size: 1.5rem;
}

.container .box p {
  margin-top: 1rem;
  font-family: 'poppins-light';
  color: #a3a5ae;
}

.container .box2,
.container .box4 {
  padding: 1rem 5rem;
}

.container .box1,
.container .box3 {
  padding: 3rem;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 1300px) {
  .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "box1 box1 box1 box" "box2 box2 box2 box2" "box3 box3 box3 box3" "box4 box4 box4 box4";
  }
  .container .box1 {
    margin-bottom: 10rem;
  }
  .container .box4 {
    margin-top: 10rem;
  }
  .container .box1 {
    width: 80vw;
  }
}

@media all and (max-width: 648px) {
  main h1 {
    font-size: 2rem;
  }
  main p {
    font-size: 1rem;
  }
  .container .box h4 {
    font-size: 1.2rem;
  }
  .container .box p {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=style.css.map */